# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore credentials and secrets
*.json
.streamlit/secrets.toml

# Ignore Excel/CSV caches
*.xlsx
*.xls
*.csv
*.bak

# Ignore generated map files
*.html

#Allow config.toml even though it is in .streamlit/
!.streamlit/config.toml
